/* Universal Styles */
body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  position: relative;
}

.hide {
  display: none !important;
}

#bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color:hsla(0, 0%, 0%, .25);
  z-index: 4;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  z-index: 30;
}

#header-logo, #footer-logo {
  width: 139px;
  height: 20px;
}

#btn-hamburger, #btn-close {
  cursor: pointer;
}

#btn-hamburger {
  width: 24px;
  height: 11px;
}

#btn-close {
  width: 18px;
  height: 19px;
}

.list-menu {
  width: 90%;
  position: absolute;
  top: 120%;
  left: 5%;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  text-align: center;
}

.list-item-menu {
  margin: 1rem 0;
}
/* Main */
.div-hero {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 14px left;
  text-align: center;
  padding-bottom: 4rem;
}

#img-hero {
  margin-top: -5rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1rem 0;
}

.div-hero > div > div {
  margin: 1rem 0;
}

.btn-request {
  padding: .75rem 1.5rem;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 500px;
  font-weight: 400;
  cursor: pointer;
}

.div-why-easybank {
  background-color: hsl(0, 0%, 98%);
  text-align: center;
  padding: 3rem 0;
}

h3 {
  margin: 0 auto 1.5rem auto;
  font-size: 2rem;
  width: 80%;
}

.div-why-easybank > div:first-of-type {
  margin-bottom: 3rem;
}

.list-features > li {
  margin-top: 1.5rem;
}

.img-feature-icon {
  width: 72px;
  height: 72px;
}

h4 {
  margin: 1rem 0;
  font-size: 1.15rem;
  font-weight: 400;
}

.list-features > li > div {
  line-height: 1.5rem;
  width: 90%;
  margin: 0 auto;
  font-size: .9rem;
}

.div-latest-articles {
  padding: 4.5rem 1.5rem;
}

.div-latest-articles > h3 {
  text-align: center;
}

.list-articles > li {
  margin-top: 1.5rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  border-radius: 5px;
}

.list-articles > li > img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-articles > li > div {
  padding: 1.5rem;
}

.list-articles > li > div > span {
  font-size: .7rem;
}

.list-articles > li > div > h5 {
  font-weight: 400;
  margin: .5rem 0;
}

.list-articles > li > div > div {
  font-size: .8rem;
  line-height: 1.1rem;
}
/* Footer */
footer {
  padding: 1.5rem;
  background-color: hsl(233, 26%, 24%);
  text-align: center;
}

#footer-logo {
  display: block;
  margin: 0 auto 1.5rem auto;
}

.list-social-media-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 1.5rem auto;
}

.list-social-media-links > li {
  cursor: pointer;
}

#icon-facebook {
  width: 20px;
  height: 20px;
}

#icon-youtube {
  width: 21px;
  height: 20px;
}

#icon-twitter {
  width: 21px;
  height: 18px;
}

#icon-pinterest {
  width: 20px;
  height: 20px;
}

#icon-instagram {
  width: 21px;
  height: 20px;
}

.list-footer-helpful-links > li {
  margin-top: .75rem; 
}

.list-footer-helpful-links > li > a {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  cursor: pointer;
}

footer .btn-request {
  margin: 1.5rem 0;
}

#footer-trademark {
  display: block;
  color: hsl(233, 8%, 62%);
  font-weight: 700;
}

/* Active States */
.btn-request:hover {
  background: linear-gradient(to right, hsla(136, 65%, 51%, .75), hsla(192, 70%, 51%, .75));
}

.list-articles > li > div > h5:hover, .list-footer-helpful-links > li > a:hover {
  cursor: pointer;
  color: hsl(136, 65%, 51%);
}

footer .btn-request:hover {
  background: linear-gradient(to right, rgb(63, 254, 114), rgb(50, 211, 252));
}

.list-item-social-media > a > svg:hover > path {
  fill: hsl(136, 65%, 51%);
}

@media (min-width: 576px) {
  .div-hero {
    background-position: top -4px left;
  }
  
  #img-hero {
    margin-top: -9rem;
  }
}

@media (min-width: 767px) {
  .list-menu {
    width: 70%;
    left: 15%;
  }

  .div-hero {
    background-position: top -24px left;
  }

  #img-hero {
    margin-top: -13rem;
  }

  .div-hero > div, .div-why-easybank > div:first-of-type, .list-features > li > div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .list-articles > li {
    width: 75%;
    margin: 1.5rem auto 0 auto;
  }
}

@media (min-width: 922px) {
  .div-hero {
    display: flex;
    padding: 1rem;
    background-position: top -75px right -150px;
    background-image: url('../images/bg-intro-desktop.svg');
    text-align: start;
  }

  #img-hero {
    width: 50%;
    height: auto;
    margin-top: -2rem;
    order: 2;
  }

  .div-hero > div {
    width: 50%;
    align-self: center;
    padding: 3rem;
  }

  .div-why-easybank {
    margin-top: -4rem;
    text-align: start;
    padding: 3rem;
  }

  h3 {
    font-size: 1.85rem;
    width: 100%;
    margin: 0 0 1.5rem 0;
  }

  .div-why-easybank > div:first-of-type {
    width: 60%;
    margin-left: initial;
    margin-right: initial;
  }

  .list-features {
    display: flex;
  }

  .list-features > li {
    margin-top: 0;
  }

  .list-features > li > div {
    width: 85%;
    margin-left: initial;
    margin-right: initial;
  }

  .div-latest-articles {
    padding: 4.5rem 3rem;
  }

  .div-latest-articles > h3 {
    text-align: start;
  }

  .list-articles {
    display: flex;
  }

  .list-articles > li {
    margin-top: 0rem;
    width: 23%;
  }

  .list-articles > li > img {
    width: 100%;
    display: block;
    height: 150px;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 125px;
    padding: 1.5rem 3rem;
    text-align: start;
  }

  #footer-logo {
    margin: 0 auto auto 0;
  }

  .list-social-media-links {
    width: 20%;
    height: 50%;
    margin: 0;
    align-items: flex-end;
  }

  .list-footer-helpful-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }

  .list-footer-helpful-links > li {
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .list-footer-helpful-links > li:nth-child(3n) {
    margin-bottom: 0;
  }

  .list-footer-helpful-links > li > a, #footer-trademark {
    font-size: .85rem;
  }

  footer .btn-request {
    margin: 0 0 0 auto;
    padding: .5rem 1.5rem;
  }

  #footer-trademark {
    margin: auto 0 0 auto;
  }


}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
